<%= render "shared/header" %>

<div class="event-details">
  <div class="event-name" style="display: flex; align-items: center; gap: 1rem">
    <h2><%= @event.name %></h2>
    <% if @event.creator == current_user %>
      <%= link_to "Edit", edit_event_path %>
      <%= button_to "Delete", @event, method: :delete %>
    <% end %>
  </div>
  <p style="margin-top: 0">By: <%= @event.creator.username %></p>
  <p><%= @event.date %></p>
  <p><%= @event.location %></p>
  <% if @event.attendees.include? current_user %>
    <p>You're already registered for this event!</p>
    <%= button_to("Unregister", attendance_path(event_id: @event.id), method: :delete) %>
  <% else %>
    <%= button_to("Attend", attendance_path(event_id: @event.id), method: :post) %>
  <% end %>
</div>

<div class="attendees">
  <% if @event.attendees.any? %>
    <p>Attendees:</p>
    <ul>
      <% @event.attendees.each do |attendee| %>
        <li><%= attendee.username %></li>
      <% end %>  
    </ul>
  <% else %>
    <p>No attendes registered, yet...</p>
  <% end %>
</div>