<%= render "shared/header" %>

<h2><%= current_user.username %></h2>
<%= link_to "Create event", new_event_path %>
<br><br>
<p>Created events:</p>
<%= render "shared/events", events: current_user.events, empty_state_message: "You haven't created any events, yet" %>

<br>

<p>Attended events:</p>
<%= render "shared/events",
  events: current_user.attended_events.past,
  empty_state_message: "You haven't attended any events, yet..."
%>

<br>

<p>Upcoming registered events:</p>
<%= render "shared/events",
  events: current_user.attended_events.upcoming,
  empty_state_message: "You haven't registered to upcoming events, yet..."
%>
